Sobes/todoclient-master/todoclient-master/ToDoListProject/Service References/ProxyService/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebInterfaces.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebInterfaces.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToDoItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItemData" nillable="true" type="tns:ToDoItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItemData" nillable="true" type="tns:ArrayOfToDoItemData" />
  <xs:complexType name="ToDoItemData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDoId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItemData" nillable="true" type="tns:ToDoItemData" />
</xs:schema>